Package: airvpn-glinet-native
Version: 0.11.10-1
Architecture: all
Maintainer: newnetmp3
Section: net
Priority: optional
Depends: curl, ca-bundle, jsonfilter, rpcd, unzip
Description: AirVPN integration for the GL.iNet 4.9.1 Admin Panel on GL-MT6000.